<h1>Password Generator</h1>
<div>
  <label>
    Enter Length
  </label>

  <input (input)="onChangeLength($event)"/> 
</div>
<div>
  <label>
    Use Letters
  </label>
  <input type="checkbox" (change)="useLettersChecked()"/> 
</div>
<div>
  <label>
    Use Numbers
  </label>
  <input type="checkbox" (change) = "useNumbersChecked()"/> 
</div>
<div>
  <label>
    Use Symbols
  </label>
  <input type="checkbox" (change) = "useSymbolsChecked()"/> 
</div>
<div>
<button (click)="onButtonClick()" [disabled]="!(length 
                                              && (useLetters || useNumbers || useSymbols))">Generate!</button>
</div>
<div>
  <label >Your Password</label>
  <input [value]="password" readonly/> 
</div>